/* adding color to background*/
body {
  background-color: #cccccc;
}

/* now EVERYTHING is Bebas Neue, except the h1 */
* {
  font-family: "Bebas Neue", sans-serif;
}

/* making header font unchangeble even with cascading importance */
h1 {
  text-decoration: underline;
  font-family: "Cinzel", serif !important;
}

/* defining the dimensions*/
article {
  margin: auto;
  box-sizing: border-box;
  border: 0px solid orange;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
}

/* big image of Picard, already an Almirant */
#image {
  display: flex;
  border: 0px solid purple;
  padding: 20px;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/* making some color change */
#introduction,
#romance,
#contact {
  background-color: #ff9e80;
  color: white;
}

#life ul {
  text-align: left;
  width: 100%;
}

p,
li {
  display: flex;
  font-size: 20px;
  text-indent: 2em;
}

h4,
h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.bio-img {
  float: left;
  overflow-clip-margin: content-box;
  box-sizing: border-box;
  border: 2px solid #fff;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: clip;
}

/* making easy to return to the top */
.fixed-action-btn {
  right: auto;
  margin-right: 5%;
}

#more {
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}

/* easter egg */
a > div {
  display: none;
}
a:hover > div {
  display: block;
}
